body {
  /*background-color: #fcfcfc;*/
  background-color: white;
}

.avatar-view {
  display: block;
  margin: 15% auto 5%;
  height: 166px;
  width: 300px;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;
}

.avatar-view img {
  width: 100%;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 98px;
  width: 184px;
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}

/** diego@puntodos.co ***/

@font-face {
  font-family: 'Dosis-Light';
  src: url('../fonts/Dosis-Light.otf') format("opentype");
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
}

@font-face {
  font-family: 'Dosis-Medium';
  src: url('../fonts/Dosis-Medium.otf') format("opentype");
  /*src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');*/
}

body{
  font-family: 'Dosis-Light';
  font-size: 1.7em;
}

.title-color {
  color: #E2231A;
  font-family: 'Dosis-Medium' ;
  font-size: 3em;
}

/* DEFAULT BANNER */

.banner{
  background: #E2231A;
  height: 100%;
}

.full-width{
  width: 100%;
}

/* IMAGES FOR STEPS */

.step-img{
  max-width: 60%;
}

.number-img{
  height: 60px;
}

/* PARTICIPANTS TITLE 
if change the title size, we will need change that
*/
.title_participants_underline:after {
    background: #E2231A;
    content: "";
    display: block;
    height: 2px;
    width: 277px;
}

.title_participants_underline:before {
  background: #E2231A;
    bottom: 8px;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    width: 85px;
}

.background-red{
  background: #E2231A;
}

.color-red-imp{
  color: #E2231A!important;
}
.color-white{
  color: white;
}
.color-yellow{
  color: #f9e000;
}

.title-participants-inst{
  font-size: 1.5em;
}

.body-participants-inst{
  
}

@media (max-width: 991px) {
  .title_participants_underline:before{
    bottom: -2px;
  }
}
.title_register_form{
  font-size: 2em!important;
}
.title_register_form:after {
    background: #E2231A;
    content: "";
    display: block;
    height: 2px;
    width: 400px;
}

.title_register_form:before {
  background: #E2231A;
    bottom: 32px;
    content: "";
    display: block;
    height: 6px;
    position: absolute;
    width: 150px;
}

@media (max-width: 426px) {
    .title_register_form:after {
      width: 300px;
    }
}

@media (max-width: 991px) {
  .title_register_form:before{
    /*bottom: -2px;*/
  }
}

.faq-link{
  color: white;
}

.faq-link:hover{
  color: white;
  cursor: pointer;
}

.simple-link{
  color: black;
  cursor: pointer;
}

.simple-link:hover{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

/* PARTICIPANTS HOW-TO-PARTICIPATE */

.title_how_to_part_underline:before {
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: white;
    left: 15%;
    bottom: 6px;
    content: "";
}

.title_how_to_part_underline:after {
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: white;
    left: 35%;
    bottom: 8px;
    content: "";
}

@media (min-width: 992px) and (max-width: 1199px) {
  .title_how_to_part_underline:before{
    left: 10%;
    width: 25%;
  }
  .title_how_to_part_underline:after {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .title_how_to_part_underline:before{
    bottom: -2px;
  }
  .title_how_to_part_underline:after{
    bottom: 0px;
  }
}

@media (min-width: 641px) and  (max-width: 991px) {
  .title_how_to_part_underline:before{
    left: 23%;
    width: 20%;
  }
  .title_how_to_part_underline:after {
    width: 42%;
  }
}

@media (min-width: 427px) and  (max-width: 640px) {
  .title_how_to_part_underline:before{
    left: 10%;
    width: 25%;
  }
  .title_how_to_part_underline:after {
    width: 55%;
  }
}

@media (max-width: 426px) {
  .title_how_to_part_underline:before{
    left: 3%;
    width: 25%;
  }
  .title_how_to_part_underline:after {
    width: 75%;
    left: 28%;
  }
}


/* BUTTONS */

.btn-image{
  height: 110px;
  cursor: pointer;
  padding: 15px 15px 15px 15px;

}

.btn-style{
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none !important;
  margin : 10px;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-style:hover{
  text-decoration: none !important;
}

.btn-red{
    background-color: #E2231A;
    border-color: #E2231A;
    color: white;
    width: 300px;
    font-size: 2.5em;
    border-radius: 25px!important;
}

.btn-yellow{
    background-color: #f9e000;
    border-color: #f9e000;
    color: white;
    width: 300px;
    font-size: 2.5em;
    border-radius: 25px!important;
}

.btn-short{
  width: 150px!important;
  font-size: 1.8em;
  border-radius: 25px!important;
}
.btn-yellow:hover{
  text-decoration: none !important;
  background-color: #f9e000;
  color: white;
}
.btn-red:not(.nohover):hover{
  text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}

.btn-red-hoverforce:hover{
  color: white;
}

.btn-gray{
  border: 2px solid #D4D4D4;
    background-color: #EDEDED;
    color: black;
    width: 220px;
}
.btn-gray:not(.nohover):hover{
  color: black;
  border: 2px solid #BCBCBC;
  background-color: #BCBCBC;
}
.btn-gray-hoverforce:hover{
  color: black;
}

.btn-gray-hover{
  color: black;
  border: 2px solid #BCBCBC;
  background-color: #BCBCBC;
}

.btn-gray-hover:hover{
  color: black;
  border: 2px solid #BCBCBC;
  background-color: #BCBCBC;
}
.btn-white{
  background-color: white;
    border-color: white;
    color: #E2231A;
    width: 100px;
    font-size: 1em;
    border-radius: 25px!important;
}

.btn-white:hover{
    text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}

.btn-vote, .btn-vote:visited, .btn-vote:focus{
  background-color: #E2231A;
    border-color: #E2231A;
    color: white;
    width: 100px;
    font-size: 1em;
    border-radius: 25px!important;
}

.btn-vote:hover{
    text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}

.btn-vote:focus{
    text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}

.btn-vote-negative{
  background-color: white;
    border-color: #E2231A;
    color: #E2231A;
    border:2px solid #E2231A;
    width: 100px;
    font-size: 1em;
    border-radius: 25px!important;
}

.btn-vote-negative:hover{
    text-decoration: none !important;
  background-color: #E2231A;
  border:2px solid #E2231A;
  color: white;
}
/* CALENAR AND DATE ELEMENTS */

.text-red{
  font-size: 1.5em;
  color: #E2231A;
}
.text-black-simple{
  color: black;
}
.text-black{
  font-size: 1.2em;
  color: black;
  text-align: justify;
}

.hour-red{
  /*border: 2px solid #E2231A;*/
    width: 350px;
    font-size: 2em;

}

/* GRID ELEMENTS */

.fa-heart{
  color: #E2231A;
}

.fa-heart-white{
  color: white!important;
}
.grid-text{
  font-size: 1.4em!important;
}

.grid-count, .grid-text{
  font-family: 'Dosis-Light';
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.cup-text{
  font-size: 3.1em;
  font-family: 'Dosis-Medium' ;
}

/* REGISTER FORM */

.form-control{
  font-size: 1.2em;
}

.btn-red-upload-photo{
    background-color: #E2231A;
    color: white;
    width: 100px;
    font-size: 1em;
    text-align: center;
    border-radius: 10px!important;
    margin-left: 20px!important;
    padding: 8px 8px 8px 8px!important;

}

.btn-red-upload-photo:hover{
  text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}

.watermark{
  top:-97px;
  position: relative;
  width: 182px;
  height: 98px;
  z-index: 100;
}

@media (min-width: 461px) and (max-width: 991px) {
  .watermark{
    top:16px;
    right: 198px;
  }
}

/*@media (max-width: 460px) {
  .watermark{
    top:16px;
    right: 198px;
  }
}*/
.title-black{
  color: black;
  font-size: 2em;
}

.paragraph-options{
  font-size: 1em !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.td-center-vertical{
  display: table-cell;
   text-align: center;
   vertical-align: middle!important;
}

.number-red{
  color: #E2231A;
  font-size: 2em;
}

.table>tbody>tr>td{
  border-top: 0px!important;
}

/* BUTTON WITH ARROW */
a.up-arrow {
  display: inline-block;
  position: relative;
  background-color: #E2231A;
    color: white;
    width: 100px;
    font-size: 1em;
    text-align: center;
    border-radius: 10px!important;
    margin-left: 20px!important;
    padding: 8px 8px 8px 8px!important;
    cursor: pointer;
}
a:hover.up-arrow {
  text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}
a.up-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  left: 40%;
  bottom: -20px;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid #E2231A;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
a:hover.up-arrow:after {
  border-top-color: #A21E23;
}
/** MODAL FOR IMAGE EDITION **/
/*
@media (min-width: 1201px) {
  .modal-dialog{
    width:1200px;
  }
}

@media (min-width: 801px) and (max-width: 1201px) {
  .modal-dialog{
    width:800px;
  }
}*/

.modal.in {
   display:block;
}


input.upload {
  display: none;
}

.btn-primary-red{
  background-color: #E2231A;
  border-color: #E2231A;
  color: white;
  font-size: 1em;
  text-align: center;
  border-radius: 10px;
  margin: 1px;
}
.btn-primary-red:hover, .btn-primary-red:active, .btn-primary-red:focus{
  text-decoration: none !important;
  background-color: #A21E23;
  border-color: #A21E23;
}

.input-group-addon{
  top:0px;
}


/** VIEW PARTICIPANT IN MODAL **/
.modal-background{
  
  background-image: url('/assets/images/modal.jpg') !important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    width: 100%;
    height: 100%;
}


.modalPicture{
  background-color: #E2231A;
}

.modalImage{
  width: 50%;
}

.modal-header-v2 {
    border-bottom: 0px;
    height: 1px;
}

.modal-content-v2 {
    border-radius: 26px;
}

.close-V3{
  font-size: 70px;
    top: 20px;
    width: 90px;
    opacity: 1;
    font-family: 'Dosis-Light'!important;
}

.close-V2 {
    font-size: 70px;
    color: white;
    top: 20px;
    width: 90px;
    opacity: 1;
    font-family: 'Dosis-Light'!important;
}

.title-white-participant{
  color: white;
  font-family: 'Dosis-Medium';
  font-size: 1.5em;
}

.text-white-participant{
  color: white;
  font-family: 'Dosis-Light';
  font-size: 1em;
}

.participant-back{
  background: white;
}
.title_respect_image{
    left:24%;
  }

.title_respect_image_fb{

}

@media (max-width: 991px) {
  .title_respect_image_fb{
    left:24%;
  }
}

.description-box{
    background: white;
    width: 49%;
    left: 26%;
    border-radius: 5px;
    height: 80px;
}
@media (max-width: 991px) {
  .description-box{
    height: 220px;
  }
}
  /*
}
@media (min-width: 991px) {
  .title_respect_image{
    left:24%;
  }
}

@media (min-width: 600px) and (max-width: 991px) {
  .title_respect_image{
    left:24%;
  }
}*/

.btn-style-participant{
  border-radius: 5px;
  text-decoration: none !important;
  margin : 5;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 0.7em;
    cursor: pointer;
}

.btn-style-participant:hover{
  text-decoration: none !important;
}

.btn-white-participant{
    background-color: white;
    border-color: white;
    color: #E2231A;
    width: 120px;
    font-size: 0.7em;
    text-align: center;
    border-radius: 10px!important;
}

.btn-white-participant:hover,.btn-white-participant:active{
  text-decoration: none !important;
  background-color: #A21E23;
  color: white;
}

.click-style{
  cursor: pointer;
}

.tks-text-white{
  color: white;
  font-weight: bold;
  font-size: 2em;
}

/*PAGINATION*/

#pagination{
  font-size: 1.5em;
  font-weight: bold;
}
#pagination > ul > li > span{
  color: red;
  
}




.pagination>.active>a, .pagination>.active>a:focus, 
.pagination>.active>a:hover, .pagination>.active>span, 
.pagination>.active>span:focus, .pagination>.active>span:hover, 
.pagination>li>a, .pagination>li>span,
.pagination>.disabled>a, .pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, .pagination>.disabled>span, 
.pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
  border-color: white;
  background-color: white;
  color: #E2231A
}

.pagination>li>a:focus, .pagination>li>a:hover, 
.pagination>li>span:focus, .pagination>li>span:hover{
  color: #E2231A;
}

.pagination>li>a, .pagination>li>span{
  border: 0px;
}

.pagination>li>a:focus, .pagination>li>a:hover, 
.pagination>li>span:focus, .pagination>li>span:hover{
    background-color: white;
}

.bold{
  font-weight: bold; 
}

/*FAQ */
.jumbotron-rounder{
  border-radius: 6px;
}

.title_faq_underline:before {
    position: absolute;
    width: 29%;
    height: 5px;
    background-color: #E2231A;
    left: 6%;
    bottom: 6px;
    content: "";
}

.title_faq_underline:after {
    position: absolute;
    width: 59%;
    height: 1px;
    background-color: #E2231A;
    left: 35%;
    bottom: 8px;
    content: "";
}

@media (min-width: 992px) and (max-width: 1199px) {
  .title_faq_underline:before{
    left: 10%;
    width: 25%;
  }
  .title_faq_underline:after {
    width: 55%;
  }
}

@media (max-width: 991px) {
  .title_faq_underline:before{
    bottom: -2px;
  }
  .title_faq_underline:after{
    bottom: 0px;
  }
}

@media (min-width: 641px) and  (max-width: 991px) {
  .title_faq_underline:before{
    left: 23%;
    width: 20%;
  }
  .title_faq_underline:after {
    width: 42%;
  }
}

@media (min-width: 427px) and  (max-width: 640px) {
  .title_faq_underline:before{
    left: 10%;
    width: 25%;
  }
  .title_faq_underline:after {
    width: 55%;
  }
}

@media (max-width: 426px) {
  .title_faq_underline:before{
    left: 3%;
    width: 25%;
  }
  .title_faq_underline:after {
    width: 75%;
    left: 28%;
  }
}

.form-control{
  height: 43px!important;
}

.participants-background{

        background: url('/assets/images/modal.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
}

.fa-circle:before{
  font-size:0.5em;
}

td.available, select.monthselect, select.yearselect {
    color: black;
}


/*SEARCH STYLES */


.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.search input {
    height: 26px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.search input:focus + .results { display: block }

.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #eceef4));
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -moz-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -ms-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: -o-linear-gradient(top, #fdfdfd, #eceef4);
    background-image: linear-gradient(top, #fdfdfd, #eceef4);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search .results li { display: block }

.search .results li:first-child { margin-top: -1px }

.search .results li:first-child:before, .search .results li:first-child:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px outset transparent;
}

.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}

.search .results li:first-child:hover:before, .search .results li:first-child:hover:after { display: none }

.search .results li:last-child { margin-bottom: -1px }

.search .results a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 40px 6px 10px;
    color: #808394;
    font-weight: 500;
    text-shadow: 0 1px #fff;
    border: 1px solid transparent;
    border-radius: 3px;
}

.search .results a span { font-weight: 200 }

.search .results a:before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -9px;
    background: url("http://cssdeck.com/uploads/media/items/7/7BNkBjd.png") 0 0 no-repeat;
}

.search .results a:hover {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    border-color: #2380dd #2179d5 #1a60aa;
    background-color: #338cdf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59aaf4), color-stop(100%, #338cdf));
    background-image: -webkit-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -moz-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -ms-linear-gradient(top, #59aaf4, #338cdf);
    background-image: -o-linear-gradient(top, #59aaf4, #338cdf);
    background-image: linear-gradient(top, #59aaf4, #338cdf);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    -o-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08);
}

:-moz-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

::-webkit-input-placeholder {
    color: #a7aabc;
    font-weight: 200;
}

.lt-ie9 .search input { line-height: 26px }